.container{
    font-size: 12px;
    background-color: #f6f7f9;
  }
  .el-breadcrumb{
    font-size: 14px;
    padding: 10px 10px 5px 10px;
    background-color: #fff;
  }
  .el-icon-d-arrow-left{
    margin-left: 12px;
    font-size: 16px;
    cursor: pointer;
  }
  .el-form{
    background-color: #fff;
    padding-top: 8px;
    padding-bottom: 6px;
    margin-bottom: 5px;
  }
  .meritdata-form__simple.el-form .el-row{
    width: 60%;
    margin: 0 auto;
  }
  .meritdata-form__simple.el-form .el-input--small .el-input__inner{
    height: 34px;
    line-height: 34px;
  }
  .meritdata-form__simple.el-form .el-form-item--mini.el-form-item, .meritdata-form__simple.el-form .el-form-item--small.el-form-item {
    margin-bottom: 12px;
  }
  .el-form h3 {
    margin: 10px 10px 10px 12px;
    font-size: 14px;
    color: #585858;
  }
  .el-form .el-row:first-child .el-col-6:last-child .el-form-item__content{
    margin-left: 50px !important;
  }
  .el-form .el-form-item__label, .el-form .el-input__inner {
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 0 0 5px;
  }
  .el-form .el-form-item__content{
    font-size: 12px;
    padding: 0 0 0 5px;
  }
  .el-form .el-form-item--small .el-form-item__content span {
    word-wrap: break-word;
  }
  .el-row .el-col .el-form-item.is-error{
    margin-bottom: 20px;
  }
  .el-input--small{
    font-size: 12px;
  }
  .el-textarea__inner{
    padding:0;
  }
  .el-input--small .el-input__inner{
    height: 28px;
    line-height: 28px;
  }
  .el-form-item--mini.el-form-item, .el-form-item--small.el-form-item{
    margin-bottom: 8px;
  }
  .el-form .el-row.el-row__button{
    margin-top: 10px;
  }
  .main-table{
    background-color: #fff;
    padding: 10px;
  }
  .main-table h3 {
    margin: 0px 10px 8px 5px;
    font-size: 14px;
    color: #585858;
  }
  .el-table{
    font-size: 12px;
    margin-top: 8px;
  }
  .el-table th{
    background-color: #e1e4e5;
  }
  .el-table--border th{
    border-right: 1px solid #EBEEF5;
  }
  .el-table td, .el-table th{
    padding: 4px 0;
    height: 40px;
  }
  .el-table--border td{
    border-right: none;
    border-bottom: none;
  }
  .el-table td, .el-table th.is-leaf{
    border-bottom: none;
  }
  .el-pager li{
    font-size: 12px;
  }
  .el-pagination button, .el-pagination span:not([class*=suffix]){
    font-size: 12px;
  }